.MuiDataGrid-columnsContainer{
   display: none !important;
}

.MuiDataGrid-row{
    border-radius: 26px;
    width: 95% !important;
    background-color: silver;
}

.MuiDataGrid-virtualScroller{
    margin-top: 0px !important;
    height: calc(100vh - 100px) !important;
}
