.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 20px 20px 0 20px;

  :global(.MuiDataGrid-row) {
    border-radius: 50px;
    background-color: white !important;
  }

  :global(.MuiDataGrid-root) {
    border: none !important;
  }

  :global(.MuiDataGrid-columnHeaders) {
    border-bottom: none !important;
    display: none;
  }

  :global(.MuiDataGrid-cell) {
    border-bottom: none !important;
    outline: none !important;
  }

  :global(.MuiDataGrid-virtualScrollerRenderZone) {
    padding-bottom: 20px;
  }

  .customGridToolbarContainer {
    border-radius: 50px;
    height: 52px;
    background-color: white;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;

    :global(.MuiDataGrid-filterFormOperatorInput) {
      display: none;
    }
  }
}
