<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <style></style>
  </head>
  <body>
    <p>
      Bitte schließe die Registrierung ab, indem du
      <a href="<%= passwordLink %>">hier</a> dein Passwort festlegst und
      anschließend alle benötigten Informationen im Profil hinterlegst.
    </p>
    <p>
      Solltest du die Registrierung nicht beauftragt haben oder nicht mehr
      wünschen, bestätige dies bitte <a href="<%= deleteLink %>">hier</a>. Das
      Konto und sämtliche zugehörigen Daten werden umgehend entfernt.
    </p>
  </body>
</html>
