.TableCell{
    border-style: solid;
    border-color: grey;
    border-width: 1px;
}

.DayLable{
    margin: 0px;
    height: 13px;
}
.DateLable{
    margin: 0px;
    font-size: 10px;
}
.TableHeadCell{
    min-width: 130px;
    background-color: red;
}