.coloredCell:nth-child(2n){
    background-color: #8CE6F9;
}

.coloredCell:nth-child(2n+1){
    background-color: #A8F0FF;
}

.coloredCell2:nth-child(2n){
    background-color: #A8F0FF;
}

.coloredCell2:nth-child(2n+1){
    background-color: #8CE6F9;
}