.wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 25px !important;
}

.wrapper table {
  td {
    border-right: .5px solid #CDCDCD;
    background-color: white;

    &:first-child {
      width: 15em;
      height: 5em;
      border: none;
    }

    &:last-child {
      border-right: none;
    }
  }

  th:not(:first-child) {
    width: 17%;
    min-width: 150px;
  }

  th, td:first-child {
    background-color: #A8F0FF;
  }

  th:nth-child(2n),
  tr:nth-child(2n+1) td:first-child {
    background-color: #8CE6F9;
  }
}

.lessonCell{
  padding: 0px !important;
}

.lessonContainer{
  height: 72.02px;
  display: flex;
  justify-content: left;
}

.lesson{
  width: 33.33%;
  background-color: green;
  border-style: solid;
  border-color: brown;
  display: flex;
  align-items: center;
  justify-content: center;
}